# Postgres
POSTGRES_USER=habitmaxxing
POSTGRES_PASSWORD=habitmaxxing
POSTGRES_DB=habitmaxxing
POSTGRES_PORT=5432

# Server
SERVER_PORT=3001
DATABASE_URL=postgresql://habitmaxxing:habitmaxxing@db:5432/habitmaxxing?schema=public

# Client
CLIENT_PORT=5173
VITE_API_URL=http://localhost:3001
VITE_APP_TZ=Europe/Amsterdam

# App
APP_TZ=Europe/Amsterdam
