# Postgres
POSTGRES_USER=lifemaxxing
POSTGRES_PASSWORD=lifemaxxing
POSTGRES_DB=lifemaxxing
POSTGRES_PORT=5432

# Server
SERVER_PORT=3001
DATABASE_URL=postgresql://lifemaxxing:lifemaxxing@db:5432/lifemaxxing?schema=public

# Client
CLIENT_PORT=5173
VITE_API_URL=http://localhost:3001
VITE_APP_TZ=Europe/Amsterdam

# App
APP_TZ=Europe/Amsterdam
